@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

:root {
    --back-drop: #EDEFF0;
    --black: #262D33;
    --white: #FFFFFF;
    --purple: #AC8EE3;
    --ash: #939699;
    --coal: #4B5157;
    --tart: #FF4F52;
    --concrete: #CCD5E6;
    --sea-blue: #B4D1E0;
    --sky-blue: #4592FF;
    --parrot-green: #3DC47E;
    --smoke: #D9DADB;
}

body {
    background-color: var(--back-drop);
    font-family: 'Lato', sans-serif;
}

/* Utility classes */

.d-flex {
    display: flex;
}
.up {
    text-transform: uppercase;
}

.fw-900 {
    font-weight: 900;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Icons modifications */

.icon-Cart {
    font-size: large;
}

/* header section */

header {
    background-color: var(--white);
    justify-content: space-evenly;
    height: 4.375em;
    align-items: center;
}

a {
    text-decoration: none;
}
nav {
    list-style: none;
    justify-content: space-around;
    width: 31.75em;   
    font-size: 0.875em;
}

nav li a {
    color: var(--ash);
}

.icon-Logo-text {
    font-size: 6.8em;
}

.cart {
    height:  2.5em;
    border-radius:  1.6em;
    width: 6.5em;       
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.875em;
    border: 1px solid var(--ash);
    background-color: var(--white);
}

.carousel {
    background-image: url('../assets/Images/hero.png/image-116.png');
    padding: 5.9375em  43.625em  6.875em 13.125em;
    position: relative;
}

.label {
    background-color: var(--purple);
    height: 15px;
    width: 52px;
    padding: 5px 12.5px;
    color: var(--white);
    font-size: 0.75em;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: 900;
}

.title {
    margin-top: 1.25em;
    font-size: 3.4375em;
    font-family: 'Roboto Slab', serif;
    color: var(--black);
    line-height:  70px;
}

.para {
    width:  20.9375em;
    font-size: 1.125em;
    line-height: 30px;
    color: #4B5157;
    font-weight: 600;
    margin-top: 1em;
}

.btn {
    background-color: var(--sky-blue);
    color: var(--white);
    border: none;
    padding: 0.75em  1.5625em;
    border-radius:  1.25em;
    font-weight: 600;
}

.shop-now {
    margin-top: 51px;
}

.circle {
    background-color: rgb(255,255,255, 0.4);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center; /* X-axis */
    align-items: center; /* Y-axis */
}

.arrow-left {
    position: absolute;
    left: 7.0625em;
}

.arrow-right {
    position: absolute;
    right: 7.0625em;
}

.arrow-left .icon-Path {
    transform: rotate(180deg);
}

.product-gallery {
    margin: 60px 113px;
}

.catalog {
    height: 34.6875em;
    column-gap: 30px;
}

.fashion-month {
    background-image: url();
}
